.grid-list__heading__container {
    position: relative;
}

.grid-list__heading {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.calendar-nav {
    position: absolute;
    top: 0;
    right: 0;
}